<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2017-2021</p>
                        <div class="h5">Bachelor Degree</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Bachelor of Science in Computer Engineering & IT</div>
                                <h4 class="category">University of Dar es Salaam</h4>
                                <ul>
                                    <li> Chairman and among Co-founders of UDSM ICT STUDENTS' SOCIETY (UISS) 2 
                                        <a class="btn btn-default btn-round btn-sm btn-icon" href="https://www.facebook.com/udsmict/" target="_blank" rel="tooltip" title="Follow UISS on Facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>Fresh Graduate</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2015-2017</p>
                        <div class="h5">ADVANCE LEVEL</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Major in Physics, Chemistry and Mathematics (PCM)</div>
                            <h4 class="category">Tabora boys</h4>
                            <ul>
                                    <li>Academic Prefect of the Students’ government (2016 – 2017)</li>
                                    <li>Completed  <b>A-level</b> with <b>Division I</b>.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2011-2014</p>
                        <div class="h5">Ordinary Level</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Secondary School</div>
                                <h4 class="category"> Thaqaafa secondary school</h4>
                                <ul>
                                        <li>Class Chairman (2012 – 2013)</li>
                                        <li>Completed  <b>O-level</b> with <b>Division I</b>.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2004-2010</p>
                        <div class="h5">Primary Level</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Primary School</div>
                                <h4 class="category"> Jelly's Nursery & Primary School</h4>
                                <ul>
                                        <li>Completed  <b>P-level</b> with <b>Grade A</b>.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>                                               